:root {
  --vp-c-brand: #009eff;
  --vp-c-brand-light: #45b8ff;
  --vp-c-brand-lighter: #7ac1ee;
  --vp-c-brand-dark: #008ae0;
  --vp-c-brand-darker: #007ac6;
  --vp-local-search-highlight-bg: var(--vp-c-brand-lighter);

  /* Map custom property --vp-font-family-base to --font-family-base */
  --vp-font-family-base: var(--vp-font-family-base);
  --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* Default theme overrides. */
#local-search {
  transform: translateY(-60px);
  z-index: 10000;
}

@media (min-width: 768px) {
  #local-search {
    transform: none;
    z-index: 0;
  }
}

.shell {
  padding: 64px 12px 12px !important;
}

@media (min-width: 768px) {
  .shell {
    padding: 12px !important;
  }
}

.VPNav {
  position: relative !important;
}

@media (min-width: 768px) {
  .VPNav {
    background-color: var(--background-color);
  }
}

@media (min-width: 1200px) {
  .VPNavBar .container {
    max-width: 1170px !important;
  }
}

.VPNavBar.has-sidebar {
  height: 0;
}

@media (min-width: 768x) {
  .VPNavBar.has-sidebar {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .VPNavBar.has-sidebar .container {
    max-width: none !important;
  }
}

.VPNavBar.has-sidebar .curtain {
  display: none;
}


/* Reset background colour change on scroll */
.VPNavBar:not(.top),
.VPNavBar:not(.top) .content-body {
  background-color: var(--background-color) !important;
}

.VPNavBar.has-sidebar:not(.top),
.VPNavBar.has-sidebar:not(.top) .content-body {
  background-color: transparent !important;
}

.VPNavBarExtra,
.VPNavBarHamburger {
  display: none !important;
}

.VPNavBarSearch {
  padding-left: 0;
}

.VPContent.has-sidebar .aside-curtain {
  display: none;
}

.VPHero {
  background-image: url("/media/images/hero_banner.jpg");
  background-size: cover;
  margin-bottom: 2em;
}

.VPHero .name .clip,
.VPHero .tagline,
.VPHero .text {
  color: white;
  -webkit-text-fill-color: white;
}

.VPSwitch {
  display: none !important;
}

/* Web Assets overrides. */
a:hover {
  text-decoration: none;
}

.nav-global .nav-global-logo {
  display: flex;
}

@media (max-width: 767px) {
  .nav-global button.nav-global-logo {
    display: flex;
  }
}
