:root {
  --vp-c-brand: #009eff;
  --vp-c-brand-light: #45b8ff;
  --vp-c-brand-lighter: #7ac1ee;
  --vp-c-brand-dark: #008ae0;
  --vp-c-brand-darker: #007ac6;
  --vp-local-search-highlight-bg: var(--vp-c-brand-lighter);

  /* Map custom property --vp-font-family-base to --font-family-base */
  --vp-font-family-base: var(--font-family-base);
  --vp-font-family-mono: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}

/* Hide btn search txt */
.DocSearch-Button .DocSearch-Button-Placeholder {
  display: none;
}

.VPNav {
  position: relative !important;
}

.VPNav-fixed {
  position: fixed !important;
  z-index: 2;
}

/* .VPNavBar {
  background-color: var(--vp-c-bg);
}

.VPNavBar.has-sidebar {
  background-color: transparent;
} */

.VPHero {
  background-image: url("/media/images/hero_banner.jpg");
  background-size: cover;
  margin-bottom: 2em;
}

.VPHero .name .clip,
.VPHero .tagline,
.VPHero .text {
  color: white;
  -webkit-text-fill-color: white;
}

/* Web Assets overrides. */
:root {
  --btn-bg-color: transparent;
  --btn-bg-color-hover: var(--background-color-primary);
}

a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .nav-global {
    z-index: 10002;
  }
}

.nav-global .nav-global-logo {
  display: flex;
}

@media (max-width: 767px) {
  .nav-global button.nav-global-logo {
    display: flex;
  }
}
