/* Variables. */
.nav-global {
  -webkit-font-smoothing: antialiased;

  /*
   *Variables come from, and match partial _variables, and are prefixed with 'bwa-'.
   *Sizes must be defined in pixels as default rem-sizing might vary in projects.
   */

  --bwa-color-bg-primary: hsl(213, 10%, 21%);
  --bwa-color-bg-tertiary: hsl(213, 10%, 14%);

  --bwa-color-text: hsl(213, 10%, 80%);
  --bwa-color-text-primary: hsl(213, 10%, 98%);

  /* Colours Components. */
  --bwa-border-color: hsla(213, 10%, 80%, .15);

  --bwa-btn-color-bg-hover: hsl(213, 10%, 30%);

  /* Colours Status. */
  --bwa-color-accent: hsl(204deg, 100%, 50%);
  --bwa-color-accent-bg: hsla(204deg, 100%, 50%, .1);
  --bwa-color-accent-bg-hover: hsla(204deg, 100%, 50%, .2);

  --bwa-border-radius: 6px;
  --bwa-border-radius-lg: 12px;

  --bwa-transition-speed: 150ms;

  --bwa-zindex-dropdown: 1040;
  --bwa-zindex-fixed: 1030;

  /* Grid. */
  --bwa-spacer: 16px;
  --bwa-spacer-1: calc(var(--bwa-spacer) * 0.25);
  --bwa-spacer-2: calc(var(--bwa-spacer) * 0.5);
  --bwa-spacer-3: var(--bwa-spacer);

  /* Type. */
  --bwa-fs-base: 14px;

  /* Components. */
  --bwa-navbar-zindex: calc(var(--bwa-zindex-fixed) + 1);
}

/* Reset. */
@namespace svg "http://www.w3.org/2000/svg";

.nav-global :not(svg|*),
.nav-global *::before,
.nav-global *::after {
  all: unset;
  display: revert;
  box-sizing: border-box;
}

.nav-global [default-styles] {
  all: revert;
}

.nav-global * {
  -webkit-text-size-adjust: 100%;

  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variation-settings: 'wght' 400;
  font-weight: normal;
}

.nav-global {
  background-color: var(--bwa-color-bg-tertiary);
  color: var(--bwa-color-text);
  display: flex;
  position: relative;
  z-index: var(--bwa-navbar-zindex);
}

.nav-global h3,
.nav-global h4,
.nav-global strong {
  font-variation-settings: 'wght' 500;
}

.nav-global figure,
.nav-global section {
  display: block;
}

.nav-global svg:not(:root) {
  overflow: hidden;
  vertical-align: middle;
}

.nav-global .nav-global-container {
  flex: 1;
  margin: 0 auto;
}

/* Navigation. */
.nav-global nav {
  align-items: center;
  display: flex;
  line-height: var(--bwa-fs-base);
  font-size: var(--bwa-fs-base);
  justify-content: space-between;
  min-height: calc(var(--bwa-spacer) * 4);
  margin: 0 auto;
  padding: 0 var(--bwa-spacer);
  position: relative;
}

/* Links. */
.nav-global a:not(.dropdown-item) {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: background-color var(--bwa-transition-speed) ease-out, color var(--bwa-transition-speed) ease-out;
}

.nav-global-nav-links {
  flex-grow: 1;
}

.nav-global-nav-links a:not(.dropdown-item) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-global a:not(.dropdown-item):hover {
  color: var(--bwa-color-text-primary);
}

/* Navigation items. */
.nav-global nav>ul {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-global nav>ul,
.nav-global nav>ul>li,
.nav-global nav>ul>li>a,
.nav-global-apps-dropdown-container {
  align-items: center;
  display: inline-flex;
  height: 100%;
}

.nav-global-apps-dropdown-container {
  position: relative;
}

.nav-global nav>ul>li>a {
  padding: var(--bwa-spacer-2);
}

@media (min-width: 1320px) {
  .nav-global nav>ul>li>a {
    padding-left: var(--bwa-spacer);
    padding-right: var(--bwa-spacer);
  }
}

.nav-global nav>a.is-active,
.nav-global nav>a.is-active svg,
.nav-global nav>ul>li>a.is-active {
  color: var(--bwa-color-text-primary) !important;
  fill: var(--bwa-color-text-primary);
  font-variation-settings: 'wght', 500;
  font-weight: bold;
}

.nav-global .nav-global-links-right {
  flex-wrap: nowrap;
  gap: 0 var(--bwa-spacer-2);
}

/* Logo. */
.nav-global a.nav-global-logo {
  margin-right: var(--bwa-spacer);
  position: relative;
  top: 2px;
  white-space: nowrap;
}

.nav-global a.nav-global-logo strong {
  margin-inline: var(--bwa-spacer-2);
  font-size: 18px;
}

.nav-global .nav-global-logo svg,
.nav-global .nav-global-logo img {
  height: 21px;
  pointer-events: none;
}

.nav-global a.nav-global-logo svg {
  position: relative;
  top: calc(var(--bwa-spacer-1) * -1);
}

.nav-global svg {
  fill: var(--bwa-color-text);
  transition: fill var(--bwa-transition-speed) ease-out;
}

.nav-global .nav-global-logo:hover svg {
  fill: var(--bwa-color-text-primary);
}

.nav-global .nav-global-logo.is-active,
.nav-global .nav-global-logo.is-active svg,
/* TODO: make classes 'is-active' and 'nav-global-btn-active' consistent */
.nav-global button.nav-global-btn-active svg {
  color: var(--bwa-color-text-primary);
  fill: var(--bwa-color-text-primary);
}

/* Apps button. */
.nav-global {
  --bwa-nav-global-btn-height: calc(var(--bwa-spacer) * 2.25);
}

.nav-global button,
.nav-global .nav-global-btn {
  -webkit-appearance: button;

  align-items: center;
  background-color: transparent;
  border-radius: var(--bwa-border-radius);
  border: 0;
  color: var(--bwa-btn-color-text);
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  height: var(--bwa-nav-global-btn-height);
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: var(--bwa-spacer-1) var(--bwa-spacer-2);
  text-transform: none;
  transition: background-color var(--bwa-transition-speed) ease-out, color var(--bwa-transition-speed) ease-out, transform var(--bwa-transition-speed) ease-out;
  white-space: nowrap;
}

/* Button overrides. */
/*
  *Button overrides for Web Assets button components for BWA projects.
  */
.nav-global button,
.nav-global .btn {
  height: var(--bwa-nav-global-btn-height);
  line-height: 1;
}

.nav-global .btn-accent {
  color: white !important;
}

.nav-global .nav-global-btn.nav-global-btn-primary {
  padding-left: var(--bwa-spacer);
  padding-right: var(--bwa-spacer);
}

.nav-global button span,
.nav-global .nav-global-btn span {
  white-space: nowrap;
}

.nav-global button:hover,
.nav-global .nav-global-btn:hover,
.nav-global button.nav-global-btn-active,
.nav-global .nav-global-btn.nav-global-btn-active {
  background-color: var(--bwa-btn-color-bg-hover);
  color: var(--bwa-color-text-primary);
  cursor: pointer;
}

.nav-global .nav-global-btn span {
  margin-left: var(--bwa-spacer-2);
}

.nav-global .nav-global-btn-primary {
  background-color: var(--bwa-color-accent-bg);
  color: var(--bwa-color-accent) !important;
}

.nav-global .nav-global-btn-primary:hover {
  background-color: var(--bwa-color-accent-bg-hover);
}

.nav-global .nav-global-icon {
  height: 20px;
  pointer-events: none;
  width: 20px;
}

.nav-global .nav-global-icon-alt {
  transform: rotate(90deg);
}

.nav-global .dropdown-toggle.active {
  color: var(--bwa-color-text-primary)
}

.nav-global button:hover svg,
.nav-global .nav-global-btn:hover svg {
  fill: white;
}

/* Apps dropdown menu. */
.nav-global .nav-global-apps-menu {
  background-color: var(--bwa-color-bg-tertiary);
  border-radius: var(--bwa-border-radius-lg);
  border: thin solid var(--bwa-border-color);
  box-shadow: 0 var(--bwa-spacer-1) var(--bwa-spacer) -2px rgba(0, 0, 0, 0.33), 0px var(--bwa-spacer-1) var(--bwa-spacer) calc(var(--bwa-spacer-1) * -1) rgba(0, 0, 0, 0.33);
  display: none;
  padding: var(--bwa-spacer-2);
  position: absolute;
  right: 0;
  top: calc(100% + var(--bwa-spacer));
  visibility: hidden;
  width: 640px;
  z-index: var(--bwa-zindex-dropdown);
}

.nav-global .nav-global-dropdown.is-visible {
  display: block;
  visibility: visible;
}

/* Tiny triangle in the corner. */
/* TODO: consider removing for consistency */
.nav-global .nav-global-apps-menu::before {
  background-color: var(--bwa-color-bg-tertiary);
  border-radius: 3px;
  border: 2px var(--bwa-color-bg-tertiary) solid;
  content: '';
  display: block;
  height: .85rem;
  position: absolute;
  right: .85rem;
  top: -0.25rem;
  transform: rotate(45deg);
  width: 1rem;
  z-index: -1;
}

.nav-global .nav-global-apps-menu ul {
  border-bottom: 2px solid rgba(255, 255, 255, .05);
  display: grid;
  gap: var(--bwa-spacer-2);
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0 0 var(--bwa-spacer-1) 0;
  padding: var(--bwa-spacer-1) 0 var(--bwa-spacer-2) 0;
}

.nav-global .nav-global-apps-menu ul>li>a {
  border-radius: var(--bwa-border-radius-lg);
  display: flex;
  flex: 1;
  height: 100%;
}

.nav-global .nav-global-apps-menu ul>li>a:hover {
  background-color: rgba(255, 255, 255, .05);
  color: var(--bwa-color-text-primary);
  box-shadow: 0px 1px var(--bwa-spacer-1) 0 rgba(0, 0, 0, 0.05), 0 var(--bwa-spacer) 20px -1px rgba(0, 0, 0, 0.025);
}

.nav-global .nav-global-apps-menu ul>li>a:hover h4,
.nav-global .nav-global-apps-menu ul>li>a:hover svg {
  color: var(--bwa-color-accent);
  fill: var(--bwa-color-accent);
}

.nav-global .nav-global-apps-menu h3 {
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: var(--bwa-spacer);
  margin: 0;
  margin-top: 2px;
  opacity: .3;
  padding-left: var(--bwa-spacer);
}

.nav-global .nav-global-apps-menu h4 {
  color: var(--bwa-color-text-primary);
  font-size: 18px;
  line-height: 20px;
  margin: var(--bwa-spacer-1) 0 0;
  padding: var(--bwa-spacer-2) var(--bwa-spacer) 0;
  transition: color var(--bwa-transition-speed) ease-out;
}

.nav-global .nav-global-apps-menu p {
  font-size: var(--bwa-fs-base);
  line-height: 20px;
  margin: 0;
  opacity: .8;
  padding: var(--bwa-spacer-1) var(--bwa-spacer) var(--bwa-spacer-2);
}

.nav-global .nav-global-apps-menu figure {
  margin: var(--bwa-spacer) 0 0 var(--bwa-spacer);
}

.nav-global .nav-global-apps-menu ul>li>a svg {
  position: relative;
  top: -2px;
}

/* Donate section of the menu. */
.nav-global .nav-global-apps-menu-section-donate ul {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-global .nav-global-apps-menu-section-donate a svg {
  fill: hsl(352, 90%, 62%) !important;
  transition: transform var(--bwa-transition-speed) ease-out;
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a {
  background-color: hsla(352deg, 90%, 42%, .2);
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a:hover {
  background-color: hsla(352deg, 90%, 42%, .5);
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a:hover svg {
  fill: hsl(352, 90%, 72%) !important;
  transform: scale(1.2);
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a:hover h4 {
  color: white;
}

/* Mobile. */
.nav-global button.nav-global-logo {
  display: none;
  visibility: hidden;
}

@media (max-width: 767px) {
  .nav-global-apps-dropdown-container,
  .nav-global a.nav-global-logo {
    display: none;
  }

  .nav-global button.nav-global-logo {
    display: flex;
    visibility: visible;
  }

  .nav-global button.nav-global-logo strong,
  .nav-global button.nav-global-logo svg {
    margin-right: var(--bwa-spacer-2)
  }

  .nav-global .nav-global-nav-links {
    align-items: flex-start;
    background-color: var(--bwa-color-bg-primary);
    border-radius: 6px;
    display: none;
    flex-direction: column;
    height: auto;
    padding: var(--bwa-spacer-1);
    position: absolute;
    top: 72px;
    visibility: visible;
    z-index: var(--bwa-zindex-dropdown);
  }

  .nav-global .nav-global-nav-links.is-visible {
    display: flex;
  }

  .nav-global .nav-global-nav-links li {
    align-items: center;
    display: flex;
    margin-bottom: var(--bwa-spacer-1);
    width: 100%;
  }

  .nav-global .nav-global-nav-links li:last-child {
    margin-bottom: 0;
  }

  .nav-global .nav-global-nav-links li a {
    border-radius: 6px;
    color: var(--bwa-color-text);
    display: inline-flex;
    flex: 1;
    line-height: initial;
    padding: var(--bwa-spacer-2) var(--bwa-spacer);
    transition: background-color var(--bwa-transition-speed) var(--bwa-transition-timing-fast), color var(--bwa-transition-speed) var(--bwa-transition-timing-fast);
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
  }


  .nav-global .nav-global-nav-links li a:hover,
  .nav-global .nav-global-nav-links li a.nav-global-link-active {
    background-color: var(--bwa-color-accent-bg);
    color: var(--bwa-color-accent);
    text-decoration: none;
  }
}

.nav-global .nav-global-nav-links li a.nav-global-link-active {
  font-variation-settings: 'wght' 700;
  font-weight: bold;
}

/* Site-specific tweaks. */
/* Make sure to start every line with ".nav-global"
* so changes affect the developer navbar only. */

/* Limit navbar width on large screens (optional). */
/*
@media (min-width: 1380px) { // grid breakpoint 'xl'
  .nav-global .nav-global-container {
    max-width: var(--container-width);
  }
}
*/
