/* Variables. */
.nav-global {
  -webkit-font-smoothing: antialiased;

  --nav-global-color-bg: hsl(213, 10%, 14%);
  --nav-global-color-text: hsl(213, 5%, 64%);
  --nav-global-color-text-secondary: hsl(213, 5%, 44%);
  --nav-global-color-text-highlight: hsl(213, 5%, 84%);
  --nav-global-color-text-hover: white;
  --nav-global-color-text-active: white;

  --nav-global-color-primary: hsl(204, 98%, 54%);
  --nav-global-color-primary-bg: hsla(204, 100%, 46%, .1);

  --nav-global-color-button-bg-hover: hsl(213, 10%, 24%);
  --nav-global-color-button-text: var(--nav-global-color-text);

  --nav-global-color-menu-bg: var(--nav-global-color-bg);
  --nav-global-color-menu-border: hsl(213, 10%, 18%);

  --nav-global-color-menu-zindex: 1040;

  --nav-global-box-shadow-menu: 0px 5px 15px -2px rgba(0, 0, 0, 0.33), 0px 5px 15px -5px rgba(0, 0, 0, 0.33);
  --nav-global-box-shadow-menu-item: 0px 1px 4px 0px rgba(0, 0, 0, 0.05), 0px 15px 20px -1px rgba(0, 0, 0, 0.025);

  --nav-global-navbar-height: var(--navbar-primary-height, 56px);

  --nav-global-spacer: 15px;
  --nav-global-spacer-sm: 10px;
  --nav-global-spacer-xs: 5px;

  --nav-global-border-radius: 6px;
  --nav-global-border-radius-lg: 10px;

  --nav-global-button-height: 35px;
  --nav-global-link-padding-x: var(--nav-global-spacer);
  --nav-global-link-padding-y: var(--nav-global-spacer-sm);

  --nav-global-font-size: 14px;
  --nav-global-transition-speed: 150ms;
}

/* Reset. */
.nav-global :not(svg|*),
.nav-global *::before,
.nav-global *::after {
  -webkit-box-sizing: border-box;

  all: unset;
  display: revert;
  box-sizing: border-box;
}

.nav-global [default-styles] {
  all: revert;
}

.nav-global * {
  -webkit-text-size-adjust: 100%;

  font-family: 'Heebo', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variation-settings: 'wght' 400;
  font-weight: normal;
}

.nav-global {
  background-color: var(--nav-global-color-bg);
  color: var(--nav-global-color-text);
  display: flex;
  position: relative;
  z-index: var(--zindex-fixed);
}

.nav-global h3,
.nav-global h4,
.nav-global strong {
  font-variation-settings: 'wght' 500;
}

.nav-global figure,
.nav-global section {
  display: block;
}

.nav-global svg:not(:root) {
  overflow: hidden;
  vertical-align: middle;
}

.nav-global .nav-global-container {
  flex: 1;
  margin: 0 auto;
}

/* Navigation. */
.nav-global nav {
  align-items: center;
  display: flex;
  line-height: var(--nav-global-font-size);
  font-size: var(--nav-global-font-size);
  min-height: var(--nav-global-navbar-height);
  margin: 0 auto;
  padding: 0 var(--nav-global-spacer);
  position: relative;
}

/* Links. */
.nav-global a:not(.dropdown-item) {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: background-color var(--nav-global-transition-speed) ease-out, color var(--nav-global-transition-speed) ease-out;
}

.nav-global-nav-links a:not(.dropdown-item) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-global a:not(.dropdown-item):hover {
  color: var(--nav-global-color-text-hover);
}

/* Navigation items. */
.nav-global nav>ul {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-global nav>ul,
.nav-global nav>ul>li,
.nav-global nav>ul>li>a,
.nav-global-apps-dropdown-container {
  align-items: center;
  display: inline-flex;
  height: 100%;
}

.nav-global-apps-dropdown-container {
  position: relative;
}

.nav-global nav>ul>li>a {
  padding: var(--nav-global-link-padding-y) var(--nav-global-link-padding-x);
}

.nav-global nav>a.is-active,
.nav-global nav>a.is-active svg,
.nav-global nav>ul>li>a.is-active,
.nav-global .nav-global-link-active,
.nav-global .nav-global-link-active svg {
  color: var(--nav-global-color-text-active) !important;
  fill: var(--nav-global-color-text-active);
  @include font-weight(500);
}

.nav-global .nav-global-links-right {
  margin-left: auto;
}

/* Logo. */
.nav-global a.nav-global-logo {
  margin-right: var(--nav-global-spacer);
  position: relative;
  top: 2px;
}

.nav-global a.nav-global-logo strong {
  margin-inline: var(--nav-global-spacer-sm);
  font-size: 18px;
}

.nav-global .nav-global-logo svg,
.nav-global .nav-global-logo img {
  height: 21px;
  pointer-events: none;
}

.nav-global a.nav-global-logo svg {
  position: relative;
  top: -4px;
}

.nav-global svg {
  fill: var(--nav-global-color-text);
  transition: fill var(--nav-global-transition-speed) ease-out;
}

.nav-global .nav-global-logo:hover svg {
  fill: white;
}

/* Apps button. */
.nav-global button,
.nav-global .nav-global-btn {
  -webkit-appearance: button;

  align-items: center;
  background-color: transparent;
  border-radius: var(--nav-global-border-radius);
  border: 0;
  color: var(--nav-global-color-button-text);
  cursor: pointer;
  display: inline-flex;
  font: inherit;
  height: var(--nav-global-button-height);
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: var(--nav-global-spacer-xs) var(--nav-global-spacer);
  text-transform: none;
  transition: background-color var(--nav-global-transition-speed) ease-out, color var(--nav-global-transition-speed) ease-out, transform var(--nav-global-transition-speed) ease-out;
  white-space: nowrap;
}

.nav-global button span,
.nav-global .nav-global-btn span {
  white-space: nowrap;
}

.nav-global button:hover,
.nav-global .nav-global-btn:hover {
  background-color: var(--nav-global-color-button-bg-hover);
  color: var(--nav-global-color-text-hover);
  cursor: pointer;
}

.nav-global button.nav-global-btn-active,
.nav-global .nav-global-btn.nav-global-btn-active {
  background-color: var(--nav-global-color-primary-bg);
  color: var(--nav-global-color-primary);
}

.nav-global button.nav-global-btn-active svg,
.nav-global .nav-global-btn.nav-global-btn-active svg {
  fill: var(--nav-global-color-primary);
}

.nav-global .nav-global-icon {
  height: 20px;
  pointer-events: none;
  width: 20px;
}

.nav-global-icon-dropdown-toggle {
  margin-left: var(--nav-global-spacer-xs);
}

.nav-global .dropdown-toggle.active {
  color: var(--nav-global-color-text-active)
}

.nav-global button:hover svg,
.nav-global .nav-global-btn:hover svg {
  fill: white;
}

/* Apps dropdown menu. */
.nav-global .nav-global-apps-menu {
  background-color: var(--nav-global-color-menu-bg);
  border-radius: var(--nav-global-border-radius-lg);
  border: thin solid var(--nav-global-color-menu-border);
  box-shadow: var(--nav-global-box-shadow-menu);
  display: none;
  padding: var(--nav-global-spacer-sm);
  position: absolute;
  right: 0;
  top: calc(100% + 15px);
  visibility: hidden;
  width: 640px;
  z-index: var(--nav-global-color-menu-zindex);
}

.nav-global .nav-global-dropdown.is-visible {
  display: block;
  visibility: visible;
}

/* Tiny triangle in the corner. */
.nav-global .nav-global-apps-menu::before {
  background-color: var(--nav-global-color-menu-bg);
  border-radius: 3px;
  border: 2px var(--nav-global-color-menu-bg) solid;
  content: '';
  display: block;
  height: .85rem;
  position: absolute;
  right: .85rem;
  top: -0.25rem;
  transform: rotate(45deg);
  width: 1rem;
  z-index: -1;
}

.nav-global .nav-global-apps-menu ul {
  border-bottom: 2px solid rgba(255, 255, 255, .05);
  display: grid;
  gap: var(--nav-global-spacer-sm);
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
  margin: 0 0 var(--nav-global-spacer-xs) 0;
  padding: var(--nav-global-spacer-xs) 0 var(--nav-global-spacer-sm) 0;
}

.nav-global .nav-global-apps-menu ul>li>a {
  border-radius: var(--nav-global-border-radius-lg);
  display: flex;
  flex: 1;
  height: 100%;
}

.nav-global .nav-global-apps-menu ul>li>a:hover {
  background-color: rgba(255, 255, 255, .05);
  color: var(--nav-global-color-text-active);
  box-shadow: var(--nav-global-box-shadow-menu-item);
}

.nav-global .nav-global-apps-menu ul>li>a:hover h4,
.nav-global .nav-global-apps-menu ul>li>a:hover svg {
  color: var(--nav-global-color-primary);
  fill: var(--nav-global-color-primary);
}

.nav-global .nav-global-apps-menu h3 {
  color: white;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  opacity: .3;
  padding-left: var(--nav-global-spacer);
}

.nav-global .nav-global-apps-menu h4 {
  color: var(--nav-global-color-text-highlight);
  font-size: 17px;
  line-height: 18px;
  margin: var(--nav-global-spacer-xs) 0 0;
  padding: var(--nav-global-spacer-sm) var(--nav-global-spacer) 0;
  transition: color var(--nav-global-transition-speed) ease-out;
}

.nav-global .nav-global-apps-menu p {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  opacity: .8;
  padding: var(--nav-global-spacer-xs) var(--nav-global-spacer) var(--nav-global-spacer-sm);
}

.nav-global .nav-global-apps-menu figure {
  margin: var(--nav-global-spacer) 0 0 var(--nav-global-spacer);
}

.nav-global .nav-global-apps-menu ul>li>a svg {
  position: relative;
  top: -2px;
}

/* Donate section of the menu. */
.nav-global .nav-global-apps-menu-section-donate ul {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-global .nav-global-apps-menu-section-donate a svg {
  fill: hsl(352, 90%, 62%) !important;
  transition: transform var(--nav-global-transition-speed) ease-out;
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a {
  background-color: hsla(352deg, 90%, 42%, .2);
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a:hover {
  background-color: hsla(352deg, 90%, 42%, .5);
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a:hover svg {
  fill: hsl(352, 90%, 72%) !important;
  transform: scale(1.2);
}

.nav-global .nav-global-apps-menu-section-donate ul>li:first-child>a:hover h4 {
  color: white;
}

/* Mobile. */
.nav-global button.nav-global-logo {
  display: none;
  visibility: hidden;
}

@media (max-width: 767px) {

  .nav-global-apps-dropdown-container,
  .nav-global a.nav-global-logo {
    display: none;
  }

  .nav-global button.nav-global-logo {
    display: block;
    visibility: visible;
  }

  .nav-global .nav-global-nav-links {
    align-items: flex-start;
    background-color: var(--nav-global-color-menu-bg);
    border-radius: var(--nav-global-border-radius-lg);
    display: none;
    flex-direction: column;
    left: 1rem;
    padding: 0 var(--nav-global-spacer-sm);
    position: absolute;
    top: calc(100% + .5rem);
    visibility: visible;
    width: 10rem;
    z-index: var(--nav-global-color-menu-zindex);
  }

  .nav-global .nav-global-nav-links.is-visible {
    display: flex;
  }

  .nav-global .nav-global-nav-links::before {
    background-color: var(--nav-global-color-menu-bg);
    border-radius: 3px;
    border: 2px var(--nav-global-color-menu-bg) solid;
    content: '';
    display: block;
    height: 0.8rem;
    position: absolute;
    left: 1.5rem;
    top: -0.133rem;
    transform: rotate(45deg);
    width: 1rem;
    z-index: -1;
  }

  .nav-global nav>ul {
    height: initial;
  }

  .nav-global .nav-global-nav-links>li {
    border-bottom: 2px solid rgba(255, 255, 255, .05);
    width: 100%;
  }

  .nav-global .nav-global-nav-links>li:last-child {
    border: none;
  }

  .nav-global .nav-global-nav-links>li>a {
    padding-inline: 0;
    width: 100%;
  }
}

/* Site-specific tweaks. */
/* Make sure to start every line with ".nav-global"
* so changes affect the developer navbar only. */

/* Limit navbar width on large screens. */
@media (min-width: 1200px) {
  .nav-global .nav-global-container {
    max-width: 1170px;
  }
}
